html
	head
		title="Template Express.js Logged"
		style
			include ../styles/loged.css
	body
		include ./header.pug
		div.container
			h1 Witaj w GOOGLE!
			h4 #{first_name}
			h4 #{last_name}
		include ./footer.pug