html
	head
		meta(charset='UTF-8')
		title="Template Express.js"
		style
			include ../styles/main.css
	body
		include ./header.pug
		div.container
			form(action='http://localhost:3000/auth/google', method='GET')
				p.paragraph
					| First Name: 
					input(type='text', name='first_name' required)
				p.paragraph
					| Last Name: 
					input(type='text', name='last_name' required)
				input.btn(input type="submit" value="Submit")  
		include ./footer.pug	  